body {
	background-color: #2AFA48;
}

h1 {
	color: #FF0004;
}

.een {
	color: #FF0004;
}

.twee {
	color: #C80003;
}

.drie {
	color: #A10002;
}

.vier {
	color: #810002;
}

.fotoEen {
	color:#D000FF;
}

.fotoTwee {
	color: #B700E0;
}

.fotoDrie {
	color: #9B00BE;
}

.fotoVier {
	color: #7D0099;
}
